@import '../../../media';

.ram-bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(phone) {
        grid-template-columns: repeat(1, 1fr);
    }


    .ram-avatar {
        display: grid;
        justify-content: center;
    }

    .ram-bio-details {
        .mat-list-item {
            span {
                color: #f44336;
                margin-right: 5px;
            }
        } 
    }
}