<div class="ram-bio">
    <div class="ram-avatar">
        <img src={{characterBio?.image}}>
    </div>
    <div class="ram-bio-details">
        <mat-list>
            <mat-list-item><span>Name -</span> {{characterBio?.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span>Created -</span>{{characterBio?.created | date}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span>Gender -</span>{{characterBio?.gender}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span>Character Status -</span>{{characterBio?.status}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span>Location -</span>{{characterBio?.location.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span>Character species -</span> : {{characterBio?.species}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-divider><span>Origin -</span>{{characterBio?.origin.name}}</mat-divider>
        </mat-list>
    </div>
</div>
