<ul class="episode-list">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Episodes
        </mat-panel-title>
        <mat-panel-description>
          See more details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="8:1" [gutterSize]="'10px'">
        <mat-grid-tile  *ngFor="let episode of episodes"
        class="episode-box">{{ episode }}</mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>    
</ul>
