@import '../../../media';

.episode-list {    
    list-style: none;
    padding-left: 0;
    li {
        padding: 10px;
        border: 1px solid #e0dfdf;
        border-radius: 10px;
        margin: 5px;
    }
    .episode-box {
        border: 1px solid #dcd8d8;
        margin: 10px;
        border-radius: 6px;
    }
} 