@import '../../../media';
.container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;


    @include responsive(phone) {
        padding: 1rem;
    }
}

.char-list {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 1em;

    @include responsive(phone) {
        grid-template-columns: repeat(1, 1fr);
    }
    @include responsive(phone-land) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(tab-port) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(tab-land) {
        grid-template-columns: repeat(3, 1fr);
    }
}