<div class="char-list">
    <app-character *ngFor="let character of characterList" 
    [character]="character">
    </app-character>
</div>

<div *ngIf="(characterList | json) === '[]'">
    Your Search does now match with any Characters. Please try again.
</div>