<div class="container">
  <div class="ram-button">
    <button mat-raised-button color="accent" (click)="goBack()">Go Back</button>
  </div>

  <div class="ram-details">
    <app-bio [characterBio]="character"></app-bio> 
  </div>

  <div class="ram-episodes">
    <app-episodes class="episode-list"
    [episodes]="character?.episode"></app-episodes>
  </div>
</div>
