@import '../../../styles.scss';
@import '../../../media';

.container {
    grid-template-columns: 1fr;
    
    @include responsive(phone) {
        padding: 1rem;
        align-items: center;

        button {
            width: 80%;
            margin-bottom: 20px;
        }
    }

    @include responsive(phone-land) {
        button {
            width: 80%;
            margin-bottom: 20px;
        }
    }

    .ram-button {
        .mat-raised-button {
            margin: 30px 0;
            width: 100%;
        }
    }

    .ram-details{
        border: 1px solid #e0d9d9;
        border-radius: 10px;
        padding: 20px 10px;
    }
}