@import '../../../media';

.ram-card {
    background-color: #ffd75a;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: grid;
    justify-content: center;
    .card-top {
        margin-bottom: 0;
        .ram-avatar {
            border-radius: 50%;
            height: 250px;
            @include responsive(phone) {
                height: 150px;
            }
            @include responsive(phone-land) {
                height: 150px;

            }
            @include responsive(tab-port) {
                height: 170px;
            }
            @include responsive(tab-land) {
                height: 180px;
            }
        }
    }
    
}
.card-info{
    padding: 15px;
    border: 1px solid #d8d0d0;
    box-sizing: border-box;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: left;  
}