<a [routerLink]="['details/',character.id]">
    <div>
        <div class="ram-card">
            <div class="card-top">   
                <img src={{character.image}} class="ram-avatar"/>
            </div>
        </div>
        <div class="card-info">     
            <h3>Name: {{character.name}}</h3>
            <h5>Species: {{character.species}}</h5>
        </div>
    </div>
</a>
