<div>
    <mat-form-field class="mb-10">
        <mat-placeholder>
            <mat-icon>search</mat-icon>
            <span>Search</span>
        </mat-placeholder>
        <input matInput [formControl]="searchField">
    </mat-form-field>
</div>