<div class="container">

    <app-search (search)="this.search$.next($event)"></app-search>

    <app-character-list
        class="character-list"
        [characterList]="finalCharacters">
    </app-character-list>
    
</div>

