//Media queries
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
      @media only screen and (max-width: 600px) {
        @content;
      }
    }
    @if $breakpoint == phone-land {
      @media only screen and (max-width: 768px) and (orientation : landscape) {
        @content;
      }
    }
    @if $breakpoint == tab-port {
      @media only screen and (max-width: 768px) and (min-width: 601px) {
        @content;
      }
    }
  
    @if $breakpoint == tab-land {
      @media only screen and (max-width: 1294px) and (min-width: 769px) {
        @content;
      }
    }
  }