/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-weight: 100; }
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.mb-10 {
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}